html {
    scroll-behavior: smooth;
  }
  /* colors
  
  */
  @viewport {
    width: device-width;
    zoom: 1;
  }
  h2 {
    color: rgb(27, 25, 25);
    font-family: "Red Hat Display", sans-serif;
    justify-self: center;
    text-align: center;
    font-weight: 700;
  }
  h1 {
    color: rgb(233, 128, 116);
    font-family: "Montserrat", sans-serif;
    justify-self: center;
    font-weight: 700;
    letter-spacing: 0.15em;
  }
  p {
    font-family: "Roboto Slab", serif;
    color: black;
  }
  .nav {
    padding-top: 10px;
    z-index: 100;
    width: 100%;
    position: fixed;
    background-color: rgb(230, 230, 230);
  }
  .nav-item {
    position: relative;
    display: inline-block;
    font-family: "Andika New Basic", sans-serif;
    font-size: 17px;
    padding-left: 1%;
    font-weight: 400;
  }
  .nav-item:hover:after {
    width: 80%;
    left: 15%;
  }
  .nav-item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(233, 128, 116);
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
    width: 0;
  }
  a:active,
  a:visited,
  a:link {
    color: #313319;
    text-decoration: none;
  }
  body {
    background-color: rgb(230, 230, 230);
  }
  .intro {
    display: grid;
    height: 440px;
    width: 95%;
    margin: 0 auto;
    padding-top: 70px;
    grid-template-rows: 40% 20% 16% 24%;
    background-color: rgb(230, 230, 230);
  }
  .intro-col {
    display: flex;
  }
  .intro h1 {
    font-size: 28px;
    padding-top: 120px;
  }
  .intro h2 {
    font-size: 80px;
    font-weight: 700;
    margin-top: auto;
    align-self: center;
  }
  .intro .role {
    margin: 0 auto;
    font-family: "Rokkitt", serif;
    font-size: 29px;
    align-self: flex-end;
  }
  .btn {
    width: 270px;
    height: 42px;
    margin: 80px auto;
    justify-self: center;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    border: 3px rgb(142, 141, 138) solid;
    transition: border-color 250ms linear;
  }
  .btn:hover {
    border-color: rgb(233, 128, 116);
  }
  
  .socials {
    display: grid;
    width: 280px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px auto 100px auto;
    justify-items: center;
  }
  .socials .logo {
    margin: 5px;
    font-size: 50px;
    color: black;
    transition: all 230ms linear;
  }
  
  .socials .logo:hover {
    color: rgb(233, 128, 116);
  }
  
  @media screen and (min-width: 400px) and (max-width: 600px) {
    .social .logo {
      width: 40px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .social .logo {
      width: 30px;
    }
  }
  
  .icon {
    transition: color 215ms linear;
    font-size: 43px;
  }
  .icon:hover {
    color: rgb(233, 128, 116);
  }
  
  .about {
    background-color: #f2f2f2;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 65px;
  }
  .profile {
    display: grid;
    grid-template-areas: 100% / repeat (auto-fill, minmax(300px, 1fr));
    width: 60%;
    margin: 0px auto;
    padding: 20px;
    height: auto;
    grid-gap: 10px;
  }
  .profile-text {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    width: 55%;
    margin: 0px auto;
    padding: 20px;
  }
  .about h2 {
    font-size: 29px;
  }
  .about p {
    font-size: 17px;
    grid-area: 1/2 / span 1 / span 3;
    padding: 10px;
    align-self: center;
  }
  .about img {
    width: auto;
    height: 170px;
    margin: 0px auto;
    border-radius: 92%;
    padding: 10px;
  }
  @media screen and (min-width: 850px) and (max-width: 1100px) {
    .profile {
      width: 70%;
    }
  }
  @media screen and (max-width: 850px) {
    .profile {
      grid-template-areas: 1fr 2fr / 100%;
      width: 83%;
    }
    .about p {
      grid-area: 2/1 / span 1 / span 1;
    }
  }
  .resume {
    text-align: center;
    padding: 65px 0px 20px 0px;
    background-color: #f2f2f2;
  }
  .resume-head {
    display: grid;
    grid-template-rows: 35% 65%;
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .resume h2 {
    font-size: 29px;
    font-weight: 600;
  }
  .resume h1 {
    font-size: 19px;
  }
  .resume p {
    font-size: 17px;
  }
  .first-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    width: 70%;
    margin: 0 auto;
    padding: 60px 0px;
    grid-gap: 30px;
  }
  #title {
    font-size: 21px;
    padding-bottom: 25px;
    text-align: left;
  }
  
  .skill-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .sub {
    display: flex;
    background-color: rgb(233, 231, 231);
    border-bottom:rgba(128, 128, 128, 0.4) 1px solid;
    padding: 5px 15px;
    margin: 7px;
    align-items: center;
    font-family: "Roboto Slab", serif;
    color: black;
  }
  
  .per {
    text-align: right;
  }
  .container {
    font-size: 7px;
    width: 100%;
    background-color: #ddd;
    height: 10px;
    padding: 0px;
  }
  .html {
    width: 90%;
    background-color: #96ceb4;
    color: #4caf50;
  }
  .css {
    width: 85%;
    background-color: #ffcc5c;
    color: #2196f3;
  }
  .python {
    width: 95%;
    background-color: #ff6f69;
    color: #f44336;
  }
  .msw {
    width: 88%;
    background-color: #b0d07d;
    color: #ffcf4a;
  }
  .mse {
    width: 85%;
    background-color: #0e9aa7;
    color: #808080;
  }
  .tools {
    text-align: left;
    padding-top: 40px;
  }
  .edu-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    column-gap: 15px;
  }
  .edu-cont {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    grid-gap: 25px;
  }
  .edu-cont img {
    width: 80px;
    padding-top: 15px;
  }
  .ib img {
    padding-top: 10px;
  }
  .edu h2 {
    font-size: 17px;
  }
  
  .edu p {
    font-size: 16px;
  }
  .school {
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .school .ib {
    padding-left: 8px;
  }
  /*contact*/
  .contact {
    text-align: center;
    padding: 65px 0px 20px 0px;
  }
  .contact-head {
    display: grid;
    grid-template-rows: 35% 65%;
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .contact-head h1 {
    font-size: 19px;
  }
  .contact-head h2 {
    font-size: 29px;
  }
  
  .contact-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    margin: 0 auto;
    justify-items: center;
    width: 50%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    grid-gap: 30px;
  }
  .box {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    height: 160px;
    width: 220px;
    justify-items: center;
    align-items: center;
  }
  
  p1 {
    color: rgb(233, 128, 116);
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
  }
  .contact p {
    font-size: 18px;
  }
  #socials-link:hover {
    text-decoration: underline;
  }
  
  /*resume project*/
  .resume-prj {
    padding-top: 50px;
  }
  .resume-prj h2 {
    font-size: 25px;
  }
  .resume-prj h1 {
    font-size: 20px;
    color: black;
    letter-spacing: 0em;
    align-self: center;
  }
  .resume-prj p {
    color: black;
    justify-self: center;
  }
  .prj-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 70%;
    padding: 20px 0px;
    margin: 0 auto;
    grid-gap: 30px;
  }
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .resume-prj button {
    font-family: "Roboto Slab", serif;
    color: black;
    padding: 3px;
  }
  .prj {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    width: 100%;
    height: auto;
    background-color: #ddd;
    align-items: center;
    padding: 15px;
  }
  .prj p {
    text-align: left;
  }
  .top {
    text-decoration: none;
    transition: underline 200ms ease;
  }
  .top:hover {
    text-decoration: underline;
  }
  
  .resume-exp h1 {
    font-size: 20px;
    color: black;
    letter-spacing: 0em;
    align-self: center;
  }
  .resume-exp h2 {
    font-size: 25px;
    align-self: center;
  }
  .resume-exp {
    padding-top: 50px;
  }
  .exp-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 70%;
    padding: 20px 0px;
    margin: 0 auto;
    grid-gap: 30px;
  }
  .exp {
    display: grid;
    grid-template-rows: 47% 27% 13% 13%;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #ddd;
  }
  
  .resume-exp .logo {
    font-size: 60px;
    color: black;
    padding: 7px;
    justify-self: center;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 520px) {
    .resume-exp .logo {
      height: 100%;
      width: auto;
    }
  }
  
  @media screen and (min-width: 500px) and (max-width: 920px) {
    .edu-list {
      grid-gap: 8px;
      width: 100%;
    }
    .resume {
      padding-top: 50px;
    }
    .school h2 {
      text-align: left;
    }
  }
  @media screen and (min-width: 750px) and (max-width: 920px) {
    .ib img {
      width: 60px;
    }
    .uw img {
      width: 65px;
    }
  }
  @media screen and (min-width: 500px) and (max-width: 750px) {
    .ib img {
      width: 52px;
    }
    .uw img {
      width: 55px;
    }
  }
  @media screen and (min-width: 630px) and (max-width: 790px) {
    .school h2 {
      font-size: 16px;
    }
    .school p {
      font-size: 15px;
    }
  }
  @media screen and (min-width: 620px) and (max-width: 650px) {
    .edu-list {
      grid-template-rows: 30% 70%;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 620px) {
    .exp {
      grid-template-rows: 50% 25% 25%;
    }
  }
  @media screen and (min-width: 450px) and (max-width: 920px) {
    .contact-box {
      width: 66%;
    }
  }
  @media screen and (max-width: 450px) {
    .contact-box {
      width: 80%;
    }
  }
  @media screen and (min-width: 280px) and (max-width: 500px) {
    .exp .fas {
      font-size: 50px;
    }
  }
  @media screen and (max-width: 280px) {
    .exp .fas {
      font-size: 40px;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 500px) {
    .resume img {
      width: 55px;
    }
    .ib img {
      width: 50px;
    }
    .resume h2 {
      font-size: 21px;
    }
    .resume h1 {
      font-size: 15px;
    }
    .contact-head h2 {
      font-size: 21px;
    }
    .contact-head h1 {
      font-size: 15px;
    }
    .contact p1 {
      font-size: 13.5px;
    }
    #title {
      font-size: 19px;
    }
    .about {
      padding-bottom: 20px;
    }
    .about p {
      font-size: 15px;
    }
    .about h2 {
      font-size: 24px;
    }
    .first-row {
      padding: 30px 0px;
    }
    .profile {
      padding-bottom: 0px;
    }
    .resume {
      padding-top: 38px;
    }
    .school h2 {
      font-size: 16.5px;
      text-align: left;
    }
    .resume p {
      font-size: 15px;
    }
    .edu-list {
      grid-gap: 10px;
    }
    .resume-exp h1 {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 300px) {
    .about img {
      height: 120px;
    }
    .about p {
      font-size: 3.4vw;
    }
    .about h2 {
      font-size: 5.7vw;
    }
    .resume img {
      width: 39px;
    }
    .ib img {
      width: 36px;
    }
    .resume p {
      font-size: 3.6vw;
    }
    .resume h2 {
      font-size: 5.2vw;
    }
    .resume h1 {
      font-size: 3.6vw;
    }
    .contact-head h2 {
      font-size: 5.2vw;
    }
    .contact-head h1 {
      font-size: 3.6vw;
    }
    .contact p {
      font-size: 5.2vw;
    }
    .contact p1 {
      font-size: 4.3vw;
    }
    #title {
      font-size: 4.3vw;
      padding-bottom: 10px;
    }
    .school h2 {
      font-size: 3.9vw;
      text-align: left;
    }
    .container {
      height: 7px;
      font-size: 5px;
    }
    .about {
      padding-bottom: 0px;
    }
    .first-row {
      padding: 30px 0px;
    }
    .edu-list {
      grid-gap: 3px;
    }
    .profile {
      padding-bottom: 0px;
    }
    .resume {
      padding-top: 10px;
    }
    .resume-exp h1 {
      font-size: 5vw;
    }
    .resume-exp p {
      font-size: 3.7vw;
    }
  }
  @media screen and (min-width: 400px) and (max-width: 500px) {
    .school h2 {
      font-size: 16px;
      text-align: left;
    }
    .resume p {
      font-size: 15px;
    }
  }
  @media screen and (min-width: 350px) and (max-width: 400px) {
    .school h2 {
      font-size: 15px;
      text-align: left;
    }
    .resume p {
      font-size: 14px;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 350px) {
    .edu-list {
      grid-template-rows: 35% 65%;
    }
    .school h2 {
      font-size: 14.2px;
      text-align: left;
    }
    .resume p {
      font-size: 13.2px;
    }
  }
  @media screen and (max-width: 640px) {
    .resume-skills {
      padding-bottom: 50px;
    }
    .first-row {
      width: 82%;
    }
  }
  @media screen and (min-width: 680px) and (max-width: 800px) {
    .intro h2 {
      font-size: 70px;
    }
    .intro h1 {
      font-size: 26px;
    }
    .intro .role {
      font-size: 28px;
    }
    .intro {
      grid-template-rows: 39% 18% 13% 30%;
    }
    .btn {
      font-size: 17px;
      width: 255px;
      margin-top: 70px;
    }
    .socials {
      margin-top: 60px;
    }
  }
  @media screen and (min-width: 560px) and (max-width: 680px) {
    .intro h2 {
      font-size: 62px;
    }
    .intro h1 {
      font-size: 21px;
      padding-top: 128px;
    }
    .intro .role {
      font-size: 22px;
    }
    .intro {
      grid-template-rows: 39% 18% 9% 34%;
    }
    .btn {
      font-size: 16px;
      width: 242px;
      height: 38px;
      margin-top: 55px;
    }
    .icon {
      font-size: 40px;
    }
    .socials {
      width: 260px;
      margin-top: 50px;
    }
  }
  @media screen and (min-width: 460px) and (max-width: 560px) {
    .intro h2 {
      font-size: 54px;
    }
    .intro h1 {
      font-size: 19px;
      padding-top: 98px;
    }
    .intro .role {
      font-size: 20.5px;
    }
    .intro {
      grid-template-rows: 35% 16% 10% 39%;
      height: 400px;
    }
    .btn {
      font-size: 15px;
      width: 230px;
      height: 36px;
      margin-top: 53px;
      border-width: 2.9px;
    }
    .icon {
      font-size: 35px;
    }
    .socials {
      width: 240px;
      margin-top: 20px;
    }
  }
  @media screen and (min-width: 380px) and (max-width: 460px) {
    .intro h2 {
      font-size: 45px;
    }
    .intro h1 {
      font-size: 18px;
      padding-top: 75px;
    }
    .intro .role {
      font-size: 19px;
    }
    .intro {
      grid-template-rows: 33% 15% 11% 41%;
      height: 350px;
    }
    .btn {
      font-size: 13px;
      width: 190px;
      height: 32px;
      margin-top: 50px;
      border-width: 2.7px;
    }
    .icon {
      font-size: 30px;
    }
    .socials {
      width: 190px;
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 380px) {
    .intro h2 {
      font-size: 34px;
    }
    .intro h1 {
      font-size: 17px;
      padding-top: 53px;
    }
    .intro .role {
      font-size: 18px;
    }
    .intro {
      grid-template-rows: 30% 15% 11% 44%;
      height: 300px;
    }
    .btn {
      font-size: 12.5px;
      width: 180px;
      height: 30px;
      margin-top: 43px;
      border-width: 2.5px;
    }
    .icon {
      font-size: 25px;
    }
    .socials {
      width: 150px;
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 240px) and (max-width: 300px) {
    .intro h2 {
      font-size: 30px;
    }
    .intro h1 {
      font-size: 15px;
      padding-top: 32px;
    }
    .intro .role {
      font-size: 15px;
    }
    .intro {
      grid-template-rows: 29% 18% 12% 41%;
      height: 250px;
    }
    .btn {
      font-size: 11px;
      width: 160px;
      height: 28px;
      margin-top: 40px;
      border-width: 2.4px;
    }
    .icon {
      font-size: 20px;
    }
    .socials {
      width: 100px;
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 180px) and (max-width: 240px) {
    .intro h2 {
      font-size: 25px;
    }
    .intro h1 {
      font-size: 13px;
      padding-top: 35px;
    }
    .intro .role {
      font-size: 11px;
    }
    .intro {
      grid-template-rows: 29% 18% 12% 41%;
      height: 250px;
    }
    .btn {
      font-size: 10px;
      width: 140px;
      height: 26px;
      margin-top: 40px;
      border-width: 2.4px;
    }
    .icon {
      font-size: 19px;
    }
    .socials {
      width: 90px;
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 180px) {
    .intro h2 {
      font-size: 7vw;
    }
    .intro h1 {
      font-size: 3.2vw;
      padding-top: 17px;
    }
    .intro .role {
      font-size: 4.1vw;
    }
    .intro {
      grid-template-rows: 29% 13% 13% 55%;
      height: 150px;
    }
    .btn {
      font-size: 3.2vw;
      width: 90px;
      height: 18px;
      margin-top: 20px;
      border-width: 1.9px;
    }
    .icon {
      font-size: 18px;
    }
    .socials {
      width: 80px;
      margin-top: 20px;
    }
  }
  @media screen and (min-width: 400px) and (max-width: 700px) {
    .nav-item {
      font-size: 15px;
    }
  }
  @media screen and (min-width: 280px) and (max-width: 400px) {
    .nav-item {
      font-size: 3.3vw;
    }
  }
  @media screen and (max-width: 280px) {
    .nav-item {
      font-size: 3.15vw;
    }
  }
  /* The Modal (background) */
  .modal-footer img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .modal,
  .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content,
  .modal-content2 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close,
  .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus,
  .close2:hover,
  .close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal,
  .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0px;
    padding-top: 100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Header */
  .modal-header {
    padding: 8px 16px;
  }
  
  /* Modal Body */
  .modal-body {
    padding: 5px 16px;
    text-align: justify;
  }
  
  /* Modal Footer */
  .modal-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 8px 16px;
    grid-gap: 8px;
  }
  
  /* Modal Content */
  .modal-content,
  .modal-content2 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  .box img {
    height: 130px;
    padding: 15px;
  }
  