/* 
colors:
backgroud: 1A120B
text: D5CEA3
accent: C69749
*/
html { 
  scroll-behavior: smooth;
}
body { 
  background-color: #1A120B;
  font-family: 'Nunito Sans', sans-serif;
  color: #D5CEA3;
}
@viewport {
  width: device-width;
  zoom: 1;
}
h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 5vw;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3vw;
  color: #C69749;
  font-weight: 600;
}
h3 {
  font-size: 1.4vw;
  font-weight: 800;
}
p {
  font-size: 1.2vw;
  font-weight: 400;
}

.nav {
  width: 100%;
  position: fixed;
  background-color:#1A120B;
  padding-top: 15px;
  top: 0;
  z-index: 1;
  transition: top 0.5s;
}
.nav-item {
  position: relative;
  display: inline-block;
  font-family: "Andika New Basic", sans-serif;
  font-size: 1.3vw;
  padding: 0px 13px;
  text-align: center;
}
.nav-item:hover:after {
  width: 68%;
  left: 16%;
}
.nav-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #C69749;
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 0;
}
a:active,
a:visited,
a:link {
  color: #D5CEA3;
  text-decoration: none;
}

.intro, .about, .experience, .contact, .projects {
  display: flex;
  flex-direction: column;
  width: 58%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.intro h2 {
  padding-top: 180px;
}
.intro p {
  width: 80%;
}

/* #about */
.about {
  justify-content: center;
}
.about-cont {
  display: flex;
  column-gap: 20px;
  margin-top: 15px;
}
.about-text {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  margin: 0px auto;
}
.about ul {
  list-style-type: circle;
  padding-left: 16px;
}
.about li span {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
}
.about li {
  font-size: 1vw;
}
.about img {
  width: 22vw;
  padding: 0 10px;
}

/*  #experience */
.carousel .date {
  font-size: 1vw;
}
.carousel .desc {
  width: 85%;
  margin: 0 auto;
}
.carousel li {
  font-size: 1.1vw;
}

.socials {
  padding: 30px 15px;
  position: fixed;
  z-index: 100;
  bottom: 8vh;
  left: 6%;
}
.socials i {
  margin: 2vh 0;
  font-size: 2vw;
  transition: all 230ms linear;
}
.socials i:hover {
  color: #C69749;
}

.contact {
  margin-top: 50px;
}

.project-lst {
  display: flex;
  /* column-gap: 20px; */
  margin-top: 15px;
  width: 46vw;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  background-color: #291f16;
  padding: 15px;
  width: 22.3vw;
  
}